<div class="friends-content">
    <main class="friends-main">
        <div class="friends-main-header">
            <div>
                <div class="friends-main-title">248 amigos</div>
                <div class="friends-count">Ordenados por: Nombre</div>
            </div>
            <input type="text" class="friends-search" placeholder="Buscar amigos">
        </div>

        <div class="friends-grid">
            <app-friends-card></app-friends-card>
            <app-friends-card></app-friends-card>
            <app-friends-card></app-friends-card>
            <!-- Más friend-cards aquí -->
        </div>
    </main>
</div>